
<div class="main-container">
  <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"></a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#/blog" target="_blank">Blog</a></li>
        <li><a href="" ng-click="scrollTo('projects-row')">Portfolio</a></li>
        <li><a href="mailto:george.x.wee@gmail.com">Contact</a></li>
        <li><a href="https://github.com/valmsmith39a" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/georgewee" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://twitter.com/valmsmith39a" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="http://stackoverflow.com/users/5656059/valmsmith39a" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
        <li><a href="https://angel.co/george-xian-wee" target="_blank"><i class="fa fa-angellist"></i></a></li>
      </ul>
  </nav>

  <div class="title-container">
    <table class="title-features-table">
      <tr id="title-row">
        <h1 id="name">George Wee</h1>
      </tr>
      <tr id="title-descript-row">
        <h2 id="title-descript">Full Stack Javascript Web Developer</h2>
      </tr>
      <a ng-click="scrollTo('projects-row')">
        <span id="pointer" class="glyphicon glyphicon-triangle-bottom" ></span>
      </a>
    </table>
  </div>

  <div class="skills-container">
    <div class="row skills-row">
      <div class="col-sm-12 col-md-4">
        <ul>
          <li>JavaScript</li>
          <li>HTML</li>
          <li>CSS</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4">
        <ul>
          <li>React</li>
          <li>AngularJS</li>
          <li>jQuery</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4">
        <ul>
          <li>Express</li>
          <li>Node.js</li>
          <li>MongoDB</li>
        </ul>
      </div>
    </div>
  </div>

  <div class = "row">
    <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="thumbnail">
        <img src="../supporting/images/gffl.png" class="img-responsive" alt="" width="400" height="450">
        <div class="caption">
          <a href="http://www.groupffl.com/" target="_blank"><h1>Group Fantasy<br>Football League</h1></a>
          <p>
            <h3>Social Media Platform for Fantasy Football</h3>
            <h5>React, Redux, React-Router, Express/Node.js, Mongoose/MongoDB, bcrypt-nodejs
            </h5>
            <a href="https://github.com/groupffl/groupffl" target="_blank">View Code on GitHub</a>
          </p>
        </div>
      </div>
    </div>

    <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <div class="thumbnail">
        <img src="../supporting/images/autovision.png" class="img-responsive" alt="" width="400" height="450">
        <div class="caption">
          <a href="https://autovision.herokuapp.com/#/" target="_blank"><h1>Autovision</h1></a>
          <p>
            <h3>Markplace for auto parts</h3>
            <h5>AngularJS, AngularUI Router, Express/Node.js, Mongoose/MongoDB, AWS S-3, bcrypt-nodejs
            </h5>
            <a href="https://github.com/909socal/autovision-epic" target="_blank">View Code on GitHub</a>
          </p>
        </div>
      </div>
    </div>

</div>

<form class="form-horizontal" action="">
  <legend class="text-center header">
    <a href="#/resume_pdf" target="_blank">Resume-PDF</a>
    <a href="#/resume_doc" target="_blank">Resume-DOC</a>
  </legend>
</form>
