
<div class="main-container">
  <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"></a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#/blog">Blog</a></li>
        <li><a href="https://github.com/valmsmith39a"><i class="fa fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/georgewee"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://twitter.com/valmsmith39a"><i class="fa fa-twitter"></i></a></li>
        <li><a href="http://stackoverflow.com/users/5656059/valmsmith39a"><i class="fa fa-stack-overflow"></i></a></li>
        <li><a href="https://angel.co/george-wee-1"><i class="fa fa-angellist"></i></a></li>
      </ul>
  </nav>

  <div class="title-container">
    <table class="title-features-table">
      <tr id="title-row">
        <h1 id="name">George Wee</h1>
      </tr>
      <tr id="title-descript-row">
        <h2 id="title-descript">Full-Stack Javascript Web Developer</h2>
      </tr>
      <a ng-click="scrollTo('projects-row')">
        <span class="glyphicon glyphicon-triangle-bottom" ></span>
      </a>
    </table>
  </div> 

  <div class="skills-container">
    <div class="row skills-row">
      <div class="col-md-4">
        <ul>
          <li>JavaScript</li>
          <li>HTML</li>
          <li>CSS</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li>AngularJS</li>
          <li>React</li>
          <li>jQuery</li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li>MongoDB</li>
          <li>Node.js</li>
          <li>Express</li>
        </ul>
      </div>
    </div>
  </div>

  <div class = "row" id="projects-row">
    <div class = "col-sm-6 col-md-4">
      <div class="thumbnail" id="thumbnail">
        <a href = "https://polar-crag-58252.herokuapp.com/" target="_blank">
          <img id="img-1" src = "https://pixabay.com/static/uploads/photo/2012/10/25/23/24/film-poster-62856_960_720.jpg" alt = "Generic placeholder thumbnail">
        </a>
        <div id="project1-caption" class = "caption">
          <h3>
            <a href = "https://polar-crag-58252.herokuapp.com/" target="_blank">Postermania
            </a>
          </h3>
          <p>
            <a href="https://github.com/valmsmith39a/postermania" target="_blank">View Code on GitHub
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class = "col-sm-6 col-md-4">
      <div class="thumbnail" id="thumbnail">
        <a href = "http://valmsmith39a.github.io/stock-app/#/" target="_blank">
          <img id="img-2" src = "http://cdn.shopify.com/s/files/1/1056/2036/products/BullBear1157_JPG150_grande.jpg?v=1447358671" alt = "Generic placeholder thumbnail">
        </a>
        <div id="project2-caption" class = "caption">
          <h3>
            <a href = "http://valmsmith39a.github.io/stock-app/#/" target="_blank">
              Bull&Bear
            </a>
          </h3>
          <p>
            <a href="https://github.com/valmsmith39a/stock-app" target="_blank">View Code on GitHub
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class = "col-sm-6 col-md-4">
      <div class="thumbnail" id="thumbnail">
        <a href = "https://sleepy-savannah-76062.herokuapp.com/" target="_blank" >
          <img id="img-3" src = "https://images.unsplash.com/photo-1455734729978-db1ae4f687fc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=79f3d5413bf93c80833ac50a3f4323cf" alt = "Generic placeholder thumbnail">
        </a>
        <div id="project3-caption" class = "caption">
          <h3>
            <a href = "https://sleepy-savannah-76062.herokuapp.com/" target="_blank">
              Carousel
            </a>
          </h3>
          <p>
            <a href="https://github.com/valmsmith39a/photo-album" target="_blank">View Code on GitHub
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <form class="form-horizontal" method="post">
    <fieldset>
      <legend class="text-center header">Contact Me</legend>

      <div class="form-group">
          <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
          <div class="col-md-8">
              <input ng-model="contact.firstName"id="fname" name="name" type="text" placeholder="First Name" class="form-control">
          </div>
      </div>
      <div class="form-group">
          <span class="col-md-1 col-md-offset-2 text-center"></span>
          <div class="col-md-8">
              <input ng-model="contact.lastName"id="lname" name="name" type="text" placeholder="Last Name" class="form-control">
          </div>
      </div>

      <div class="form-group">
          <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
          <div class="col-md-8">
              <input ng-model="contact.email"id="email" name="email" type="text" placeholder="Email Address" class="form-control">
          </div>
      </div>

      <div class="form-group">
          <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
          <div class="col-md-8">
              <input ng-model="contact.phone"id="phone" name="phone" type="text" placeholder="Phone" class="form-control">
          </div>
      </div>

      <div class="form-group">
          <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
          <div class="col-md-8">
              <textarea ng-model="contact.message" class="form-control" id="message" name="message" placeholder="Message" rows="7"></textarea>
          </div>
      </div>

      <div class="form-group">
          <div class="col-md-12 text-center">
              <button ng-click="submitContactInfo()" type="submit" class="btn btn-primary btn-lg">Submit</button>
          </div>
      </div>
    </fieldset>
</form>

</div>   
