body {
  background-color: white;
}

a {
  color: black;
}

a:hover {
  color: #5E5E5E;
}

ul {
  list-style-type: none;
}

.navbar navbar-default {
  background-color: #2B2B2B;
}

.navbar-nav {
  font-size: 19px;
}

.glyphicon-triangle-bottom {
  position: absolute;
  top: 85vh;
  font-size: 35px;
}

.title-container {
  position: relative;
  top: -20px;
  height: 100vh;
  width: 100vw;
  background-image: url('https://images.unsplash.com/photo-1431629452562-165c8f49fc97?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=d402523995b84a8c22d79ba93ea3d431');
  background-size:100% 100%;
  text-align:center;
}

.title-features-table {
  margin: 0 auto;
  color: white;
}

.title-features-box {
  height: 5vh;
  width: 10vw;
  padding: 3px;
  margin: 5px auto;
}

#pointer {
  color: white;
}

.row {
  margin: 15px;
}

.back {
  color: #fff;
  padding: 20px;
}

.skills-container {
  position: relative;
  margin: 17vh auto;
  color: black;
  font-size: 40px;
  text-align: center;
}

.skills-row {
  position:relative;
}

.list-group {
  color:white;
  opacity:0;
}

#github-box {
  height: 30px;
  width: 100px;
  border-style: solid;
  border-color: white;
  border-width: 3px;
  margin: 50px;
}

#resume-box {
  height: 30px;
  width: 100px;
  border-style: solid;
  border-color: white;
  border-width: 3px;
  margin: 50px;
}

#twitter-box {
  height:30px;
  width:100px;
  border-style:solid;
  border-color:white;
  border-width:3px;
  margin:50px;
}

#github-url {
  color:white;
}

#resume-url {
  color:white;
}

#twitter-url {
  color:white;
}

#name {
  position: relative;
  top: 8vh;
  color: white;
  font-size: 72px;
  text-shadow: 2px 2px black;
}

#title-descript {
  position: relative;
  top: 10vh;
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px black;
}

#title-descript-row {
  top:10vh;
}


#projects {
  background-color: red;
  text-align: center;
}

#title-projects {
  background-color: green;
  margin-bottom: 100px;
}

.thumbnail {
  width: 500px;
  height: 475px;
  margin: auto;
  text-align: left;
}

.img-project {
  position: relative;
  width: 99%;
  height: 95%;
}

.project-title-link {
  text-align: center;
}

.project-info-links {
  text-align: center;
}

#contact-legend {
  color: black;
}

#resume-pdf {
  width:90vw;
  height:100vh;
}

.header {
  color:white;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color:white;
}

.form-horizontal {
  position:relative;
  margin-top: 150px;
  color: black;
}

.tech-descript {
  color: #777;
}
