.main-container {
  text-align: center;
}

.navbar {
  font-size: 19px;
}

.navbar-brand {
  font-size: 19px; 
}

a {
  color: black;
}

a:hover {
  color: #5E5E5E;
}

ul {
  list-style-type: none;
}

.row {
  margin: 0px;
}

.row-title {
  position: relative;
  top: -20px;
  height: 100vh;
  width: 100vw;
  background-image: url('https://images.unsplash.com/photo-1431629452562-165c8f49fc97?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=d402523995b84a8c22d79ba93ea3d431');
  background-size:100% 100%;
  text-align:center;
}

#name {
  position: relative;
  top: 8vh;
  color: white;
  font-size: 72px;
  text-shadow: 2px 2px black;
}

#row-table-title-descript {
  top:10vh;
}

#title-descript {
  position: relative;
  top: 10vh;
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px black;
}

.glyphicon-triangle-bottom {
  position: absolute;
  top: 85vh;
  font-size: 35px;
}

#pointer {
  color: white;
}

.row-skills {
  position: relative;
  margin: 40px auto;
  color: black;
  font-size: 35px;
  text-align: center;
}

.li-skills {
  margin: 10px auto;
}

.thumbnail {
  width: 500px;
  height: 475px;
  margin: 75px auto;
  text-align: left;
}

.row-projects {
  margin: 0;
}

.img-project {
  position: relative;
  width: 99%;
  height: 95%;
}

.project-title-link {
  text-align: center;
}

.project-info-links {
  text-align: center;
}

.form-horizontal {
  position:relative;
  margin-top: 150px;
  color: black;
}
