body {
  background-color: #2B2B2B;
}

a {
  color: #fff;
}

a:hover {
  color:#5E5E5E;
}

.navbar navbar-default {
  background-color: #2B2B2B;
}

.glyphicon-triangle-bottom {
  position:absolute;
  top:85vh;
  font-size:35px;
}

.title-container {
  position:relative;
  top:-20px;
  height:100vh;
  width:100vw;
  background-image: url('https://images.unsplash.com/photo-1452716726610-30ed68426a6b?crop=entropy&dpr=2&fit=crop&fm=jpg&h=725&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1425');
  background-size:100% 100%;
  text-align:center;
} 

.title-features-table {
  margin: 0 auto;
  color:white;
}

.title-features-box {
  height:5vh;
  width:10vw;
  padding:3px;
  margin:5px auto;
}

.row {
  margin: 15px;
}

.back {
  color: #fff;
  padding: 20px;
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  width: 320px;
  height: 480px;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.projects-container {
  height:20vh;
  width:100%;
  margin:center;
  text-align: center;
}

.project-box-outer {
  width:33%;
  display:inline-block;
  /* float:left; */
  /* padding-left:4px; */
}

.project-box {
  position:relative;
  background:gray;
  width:200px;
  left:5vw;
  margin:5px 40px;
  margin:5px auto;
}

.thumbnail {
  background-color: white;
}

#thumbnail {
  background-color: #757575;
  /*color: #C5C5C5;*/
  border: 5px solid #fff;
}

#github-box {
  height:30px;
  width:100px;
  border-style:solid;
  border-color:white;
  border-width:3px;
  margin:50px;
}

#resume-box {
  height:30px;
  width:100px;
  border-style:solid;
  border-color:white;
  border-width:3px;
  margin:50px;
}

#twitter-box {
  height:30px;
  width:100px;
  border-style:solid;
  border-color:white;
  border-width:3px;
  margin:50px;
}

#github-url {
  color:white;
}

#resume-url {
  color:white;
}

#twitter-url {
  color:white;
}

#project1-caption, #project2-caption, #project3-caption {
  color: black;
  text-align: center;
}

#name {
  position:relative;
  top:8vh;
  color:white;
  font-size:72px;
}

#title-descript {
  position:relative;
  top:10vh;
  color:white;
}

#title-descript-row {
  top:10vh;
}

#img-1, #img-2, #img-3 {
  height:25vw;
  width:20vw;
}

#project-1 {
  height:25vw;
  width:20vw;
  /*background-image: url('https://pixabay.com/static/uploads/photo/2012/10/25/23/24/film-poster-62856_960_720.jpg');*/
  background-size: 100% 100%;
  margin:10px;
}

#project-2 {
  height:25vw;
  width:20vw;
  /*background-image: url('http://cdn.shopify.com/s/files/1/1056/2036/products/BullBear1157_JPG150_grande.jpg?v=1447358671');*/
  background-size: 100% 100%;
  margin:10px;
}

#project-3 {
  height:25vw;
  width:20vw;
  /*background-image: url('https://images.unsplash.com/photo-1455734729978-db1ae4f687fc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=79f3d5413bf93c80833ac50a3f4323cf');*/
  background-size: 100% 100%;
  margin:10px;
}

#project-1-title {
  margin:30px; 
}

#project-2-title {
  margin:30px; 
}

#project-3-title {
  margin:30px; 
}

#project-1-url {
  color:black;
}

#project-2-url {
  color:black;
}

#project-3-url {
  color:black;
}



